@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="section-one">
        <div class="a">

            <h1>Startup Focused Tailwind CSS Template</h1>
            <p>A Complete Tailwind CSS Web Template Crafted for - Startup, SaaS, Business, Software and Agencies. Comes with high-quality design and everything you need!</p>
            <div class="b">
                <button class="btn btn-primary">Get Started</button>
                <button class="btn btn-primary">Learn More</button>

            </div>
        </div>
    </section>
    <section class="section-two">
        <div class="a">
            <h1>Main Features</h1>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>

        </div>

        <div class="box-one">


            <div style="width: 20%;margin-left: 400px;margin-right: 20px;" class="box1">
                <i class="fa-solid fa-beer-mug-empty"></i>
                <h3>Crafted for Startups</h3>
                <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores</p>

            </div>
            <div style="width: 20%;margin-right: 20px;" class="box2">
                <i class="fa-solid fa-beer-mug-empty"></i>
                <h3>High-quality Design</h3>
                <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores</p>

            </div>
            <div style="width: 20%;" class="box3">
                <i class="fa-solid fa-beer-mug-empty"></i>
                <h3>All Essential Components</h3>
                <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores</p>

            </div>
        </div>
        <div class="box-two">
            <div style="width: 20%; margin-left: 400px;margin-right: 20px;" class="box1">
                <i class="fa-solid fa-beer-mug-empty"></i>
                <h3>Speed Optimized</h3>
                <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores</p>

            </div>
            <div style="width: 20%;margin-right: 20px;" class="box2">
                <i class="fa-solid fa-beer-mug-empty"></i>
                <h3>Fully Customizable</h3>
                <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores</p>

            </div>
            <div style="width: 20%;" class="box3">
                <i class="fa-solid fa-beer-mug-empty"></i>
                <h3>Regular Updates</h3>
                <p>Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus quisquam numquam perferendis earum sapiente non tempore? Fugit repellat ut maiores</p>

            </div>
        </div>

    </section>
    <section class="section-three">
        <div class="a">
            <h1>We are ready to help</h1>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>
        </div>
        <img style="padding-left: 500px;" src="https://startup-tailwind.preview.uideck.com/images/video/video.jpg" alt=""><br><br>
        <img style="padding-top: 100px;padding-left: 300px;padding-right: 50px;" src="https://startup-tailwind.preview.uideck.com/images/brands/uideck.svg" alt="">
        <img style="padding-top: 100px;padding-right: 50px;" src="https://startup-tailwind.preview.uideck.com/images/brands/tailgrids.svg" alt="">
        <img style="padding-top: 100px;padding-right: 50px;" src="https://startup-tailwind.preview.uideck.com/images/brands/lineicons.svg" alt="">
        <img style="padding-top: 100px;padding-right: 50px;" src="https://startup-tailwind.preview.uideck.com/images/brands/ayroui.svg" alt="">
        <img style="padding-top: 100px;" src="https://startup-tailwind.preview.uideck.com/images/brands/plainadmin.svg" alt="">
    </section>
    <section class="section-foor">
        <div class="container">
            <div class="box-one">
                <h1 style="width: 80%;">Crafted for Startup, SaaS and Business Sites.</h1>
                <p style="width: 80%;">The main ‘thrust’ is to focus on educating attendees on how to best protect highly vulnerable business applications with interactive panel discussions and roundtables.</p>
                <div class="a">
                    <div class="box1">
                        <i class="fa-solid fa-beer-mug-empty"></i>
                        <p style="display: inline;">Premium quality</p><br>
                        <i class="fa-solid fa-beer-mug-empty"></i>
                        <p style="display: inline;">No code required</p><br>
                        <i class="fa-solid fa-beer-mug-empty"></i>
                        <p style="display: inline;">Use for lifetime</p>

                    </div>
                    <div class="box2">
                        <i class="fa-solid fa-beer-mug-empty"></i>
                        <p style="display: inline;">Regular updates</p><br>
                        <i class="fa-solid fa-beer-mug-empty"></i>
                        <p style="display: inline;">Rich documentation</p><br>
                        <i class="fa-solid fa-beer-mug-empty"></i>
                        <p style="display: inline;">Developer friendly</p>

                    </div>
                </div>
            </div>
            <div class="box-two">
                <img style="padding-top: 50px;padding-left: 150px;" src="https://startup-tailwind.preview.uideck.com/images/about/about-image.svg" alt="">

            </div>
        </div>
    </section>
    <section class="section-five">
        <div class="container">
            <div class="box1">
                <img style="padding-top: 50px;" src="https://startup-tailwind.preview.uideck.com/images/about/about-image-2.svg" alt="">

            </div>
            <div class="box2">
                <h3 style="padding-top: 50px;">Bug free code</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h3>Premier support</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. </p>
                <h3>Regular updates</h3>
                <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt consectetur adipiscing elit setim.</p>
            </div>

    </section>
    <section class="section-six">
        <div class="a">
            <h1>What Our Users Says</h1>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>

        </div>
        <div class="container">
            <div class="box1">
                <p>“Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.</p>

                <hr>
                <div class="b">

                    <img src="https://startup-tailwind.preview.uideck.com/images/testimonials/author-01.png" alt="">
                    <h4 style="display: inline;">Musharof Chy</h4>
                </div>

            </div>
            <div class="box2">
                <p>“Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.</p>
                <hr>
                <div class="b">

                    <img src="https://startup-tailwind.preview.uideck.com/images/testimonials/author-02.png" alt="">
                    <h4 style="display: inline;">Musharof Chy</h4>
                </div>

            </div>
            <div class="box3">
                <p>“Our members are so impressed. It's intuitive. It's clean. It's distraction free. If you're building a community.</p>
                <hr>
                <div class="b">

                    <img src="https://startup-tailwind.preview.uideck.com/images/testimonials/author-03.png" alt="">
                    <h4 style="display: inline;">Musharof Chy</h4>
                </div>

            </div>
        </div>
    </section>
    <section class=section-seven>
        <div class="f">
            <h1>Simple and Affordable Pricing</h1>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>
        </div>
        <div class="container">
            <div class="box1">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est beatae aliquid quas rerum molestias recusandae laborum voluptatem, accusantium, impedit ipsum enim illo magni perferendis voluptate consectetur blanditiis, voluptates aliquam! Maiores adipisci, earum beatae facilis odio dolore et excepturi dolorum nesciunt.</p>

            </div>
            <div class="box2">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est beatae aliquid quas rerum molestias recusandae laborum voluptatem, accusantium, impedit ipsum enim illo magni perferendis voluptate consectetur blanditiis, voluptates aliquam! Maiores adipisci, earum beatae facilis odio dolore et excepturi dolorum nesciunt.</p>


            </div>
            <div class="box3">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est beatae aliquid quas rerum molestias recusandae laborum voluptatem, accusantium, impedit ipsum enim illo magni perferendis voluptate consectetur blanditiis, voluptates aliquam! Maiores adipisci, earum beatae facilis odio dolore et excepturi dolorum nesciunt.</p>


            </div>
        </div>
    </section>
</main>
